h1, h2, h3, h4, h5, h6 {
  all: unset;
}
@font-face {
    font-family: horticulture;
    src: url(Bixelletter-Regular.otf)
}

body {
    text-indent: 0%;
    font-family: horticulture;
    line-height: 120%;
    background-color: black;
    cursor: url('cursor2.png'), auto;
    font-size: 120%;
    color: white;
    word-spacing: 100%;
    
}

marquee:hover{
    cursor: url('cursor_hover.png'), pointer;
    color: grey;
}
.marquee {
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
}

/* custom marquee */
.marquee span {
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 100%;
    /* animation length */
    animation: marquee 10s linear infinite;
}

.marquee:hover span {
    animation-play-state: paused;
    cursor: url('cursor_hover.png'), pointer;
    color: grey;
}

.marquee span:nth-child(1) {
    animation-delay: 0s;
}

.marquee span:nth-child(2) {
    animation-delay: .8s;
}

.marquee span:nth-child(3) {
    animation-delay: 1.6s;
}

.marquee span:nth-child(4) {
    animation-delay: 2.4s;
}

/* moves text left */
@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -150%;
    }
}
h1{
    font-size: 175px;
    line-height: 400%;
}
h2{
    font-size: 100px;
    line-height: 90%;
    letter-spacing: 40px;
}
.mid{
      position: absolute;
left: 655px;
}
.right{
      position: absolute;
right: 0px;
}
.upsideD{
  rotate: 180deg;
}
h3{
    position:absolute;
    right:100px;
    text-align: right;
    letter-spacing: 2px;
}
h4{
    position:absolute;
    left:300px;
}
.ascii{
    white-space: pre-wrap;
    letter-spacing: 1px;
    line-height: 100%;
    word-spacing: 11.5px;
}
h5{
    white-space: normal;
    font-size: 30px;
    line-height: 20%;
    letter-spacing: -2px;
}

h6{
    white-space: normal;
    font-size: 5px;
    line-height: 20%;
    letter-spacing: -2px;
}
.container{
    height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
}
